@import 'carbon-components/scss/globals/scss/styles.scss';

.TextEditor {
  width: 340px;
  margin-top: 48px;
  position: relative;
  .ToolBar {
    padding: 16px 0;
    margin-bottom: 4px;
    background-color: white;
    display: flex;
    align-items: center;
  }

  .Main {
    position: relative;
    padding: 16px;
    background-color: white;
    height: 16rem;
    overflow-y: scroll;

    .DeleteButton {
      position: absolute;
      bottom: 16px;
    }
  }

  .EmojiPicker {
    position: absolute;
    z-index: 1000;
    left: 320px;
    top: -32px;
  }
}
